@model MobileShop.Core.Models.Product
@using MobileShop.Core.Repositories.IRepository;
@inject IUnitOfWork unitOfWork
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var category = await unitOfWork.CategoryRepository.GetAllAsync();
    SelectList listItems = new SelectList(category, "CategoryId", "CategoryName");
}

<div class="container mt-5">
    <h2>Cập nhật sản phẩm</h2>
    <form action="Update" method="post" enctype="multipart/form-data">
        <input type="hidden" id="ProductId" name="ProductId" value="@Model.ProductId" />
        <input type="hidden" id="Image" name="Image" value="@Model.Image" />
        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" class="form-control" id="productName" name="productName" value="@Model.ProductName">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" name="price" value="@Model.Price">
        </div>
        <div class="form-group">
            <label for="price">Số Lượng</label>
            <input type="number" class="form-control" id="Quantity" name="Quantity" value="@Model.Quantity">
        </div>
        <div class="form-group">
            <label for="price">Kích thước màn hình</label>
            <input type="text" class="form-control" id="SizeScreen" name="SizeScreen" value="@Model.SizeScreen">
        </div>
        <div class="form-group">
            <label for="price">Trọng lượng</label>
            <input type="text" class="form-control" id="Weight" name="Weight" value="@Model.Weight">
        </div>
        <div class="form-group">
            <label for="price">Camera</label>
            <input type="text" class="form-control" id="Camera" name="Camera" value="@Model.Camera">
        </div>
        <div class="form-group">
            <label for="price">Bộ nhớ RAM</label>
            <input type="text" class="form-control" id="Ram" name="Ram" value="@Model.RAM">
        </div>
        <div class="form-group">
            <label for="price">Dung lượng</label>
            <input type="text" class="form-control" id="Memory" name="Memory" value="@Model.Memory">
        </div>
        <div class="form-group">
            <label for="price">Hệ điều hành</label>
            <input type="text" class="form-control" id="OS" name="OS" value="@Model.OS">
        </div>
        <div class="form-group">
            <label for="price">Dung lượng pin</label>
            <input type="text" class="form-control" id="Battery" name="Battery" value="@Model.Battery">
        </div>
        <div class="form-group">
            <label for="price">Số Sim</label>
            <input type="text" class="form-control" id="Sim" name="Sim" value="@Model.Sim">
        </div>
        <div class="form-group">
            <label for="price">Phụ kiện</label>
            <input type="text" class="form-control" id="Phukien" name="PhuKien" value="@Model.PhuKien">
        </div>
        <div class="form-group">
            <label for="price">Bảo hành</label>
            <input type="text" class="form-control" id="BaoHanh" name="BaoHanh" value="@Model.BaoHanh">
        </div><div class="form-group">
            <label for="price">Hình ảnh</label>
            <input type="file" class="form-control" id="Image" name="Image">
        </div>
        <div class="form-group">
            <label for="price">Nhà sản xuất</label> <br />
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="CategoryId" name="CategoryId" asp-items="listItems" >
                <option selected value="@Model.CategoryId"></option>
            </select>
        </div>
        <!-- Add more form groups for other properties -->
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>